body {
	background-color: #3f4944;
	font: 62.5%/1.5 'Lucida Grande', "OpenSansRegular",Helvetica,Arial,sans-serif, arial, san-serif;
}

.inner {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 50px;
}

#main {
	background:#e4e3d5 url("../img/mustaches-back.jpg") 55%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#main .inner .content{
	width: 960px;
	margin: -20px 0;
	padding: 40px;
	float:left;
	background-color: rgba(247,247,239, .8);
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

/* =================== H E A D E R   L O G O   =================== */

a#logo{
	display: block; float: left;
	background: transparent url('../img/logo1.png') no-repeat center;
	width: 223px; height:200px;
	position: absolute;
	top:0px;
	
}

/* =================== H E A D E R   S E A R C H   P A N E L  =================== */

header {
	background: #3f4944 url("../img/head-background.jpg") 40%;
	padding: 20px 0px 20px; float: left; width: 100%;
	box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

#search-box {
	margin-right: -40px;
	padding: 35px 0;
	width: 630px;
	float: right;
}
#search_input, #btn-quit, #btn-search {
	float: left;
}
#search_input{
	width:400px;
	box-shadow:inset 2px 0px 10px rgba(0,0,0,0.15);
	-moz-box-shadow:inset 2px 0px 10px rgba(0,0,0,0.15);
}
#btn-quit, #btn-search {
	font-size: 40px;
	border: none;
}
#btn-search{float:right; width:200px;box-shadow: 2px 2px 2px rgba(0,0,0,0.8);}
#btn-search:hover{float:right; width:200px;box-shadow: 0px 2px 10px rgba(0,0,0,.8);margin: 1px 1px 0 0}
#btn-quit {
	font-size: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 40px;
	position: absolute;
	margin-left:-55px;
	margin-top: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#btn-quit:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}



/* =================== B O O K M A R K S   P A N E L  =================== */

#bookmark-panel {
	float: left;
	width: 600px;
	min-height: 50px;
}

#bookmark-panel li {
	list-style-type: none;
	display: block;
	margin: 10px 60px 20px 0px;
}

#bookmark-panel li h3 {
    color: #636365;
	font-size: 40px;
	line-height: 1em;
	text-shadow: 1px 1px 1px rgb(256,256,256);
	margin-bottom: 18px;
}

#bookmark-panel .descr {
	font-size: 12px;
}
#bookmark-panel li img {
	position: relative;
	top: 4px;
}

#bookmark-panel li .link {
	color: rgb(104, 75, 13);
	font-size: 11px;
}
#bookmark-panel .author{
	margin-top: 6px;
}
#bookmark-panel .author,#bookmark-panel .time{
	color: #636365; display: block;
}

#bookmark-panel li .tags a {
	display: inline-block;
	margin-right: 3px;
	color: white;
	background-color: #525789;
	padding: 0 3px;
}
#bookmark-panel li .sharer {
	margin-top: -20px;
	height: 30px;
	width:100%;
	background: transparent url("../img/underline.gif") no-repeat top;
}

/* =================== C R E A T O R   P A N E L  =================== */

#creator {
	margin: 10px -50px 0 0;
	padding: 10px 10px 5px 10px;
	float: left;
	background-color: #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form {
	display:block;
}

input[type="submit"] {
	width: 340px;
	background-color: #40b474;
	text-shadow: 1px 1px 10px rgba(0,0,0, 0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
}
input[type="submit"]:hover {
	box-shadow: 0px 2px 7px rgba(0,0,0,.7);
	background-color: #208454;
	transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
	-ms-transition: background-color 0.1s;
}
input[type="submit"]:active {
	background-color: #000000;
	transition: background-color 0.1s;
	-webkit-transition: background-color 0s;
	-moz-transition: background-color 0;
	-o-transition: background-color 0;
	-ms-transition: background-color 0;
}
input[type=submit][disabled=disabled], input[type=submit]:disabled, button:disabled {
	background-color: #BDBDBD;
	box-shadow: none;
	text-shadow: none;
}

input, textarea {
	width: 320px;
	display: block;
	border: none;
	font-size: 40px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}
textarea {
	height: 100px;
	resize: vertical;
	font-size: 40px;
}
textarea:focus {
	outline: none;
	outline-offset: 0;
	font-size: 20px;
}
input:focus {
	outline: none;
	outline-offset: 0;
}

/* =====================  A L E R T E R   ==================== */

#alerter{
  z-index: 9; position: absolute; width:100%; height:100%; text-align: center;
  display: none;
}
#alerter-back{
	position: fixed; width:100%; height:100%; background: rgba(0,0,0, .7); 
}
#keepcalmkeeper{
	position: fixed;
	left:50%;
	top:50%;
}
#keepcalm {
	z-index:10;
	position: relative;
	top:-275px;
	left: -350px;
	background: transparent url("../img/keepcalm1.jpg") center;
	width: 700px; height: 550px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);	
}

/* ======================  F O O T E R  ====================== */

footer {
	color: #bfbeb2;
	clear: both;
	height: 60px;
	padding: 30px;
}

footer .inner {
	padding: 0 240px;
}

